.app {
  display: flex;
  flex-direction: column;

  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  gap: 1rem;
  text-align: center;
}

button {
  width: fit-content;
}

li {
  text-align: start;
}
